html { font-size: 100%; }
body { margin: 0; padding: 0; height: 100%; }

::-webkit-scrollbar { display: none; }

#icon-container {
    position: absolute;
    top: 15%;
    left: 25%;
    max-width: 100%;
    z-index: 1;
}
.img-landing {
    z-index: 0;
    position: absolute;
    top: 15%;
    left: 0;
    max-width: 100%;
}
.img-landing#img-anvil {
    z-index: 2;
}
.img-landing#img-arttitle {
    left: 10%;
    z-index: 3;
}
#img-logo-large { position: absolute; max-width: 100%; height: auto; margin: auto;}
#img-logo { margin-top: 2em; margin-right: -5%;}
#img-games { margin-left: 8%; }
#img-art { margin-right: 15%; }
#img-webapps { margin-left: 5%; }
.img-center { display: block; margin: auto auto 1em auto; max-width: 100%; height: auto; }
.img-right { display: block; float: right; margin: 1em; max-width: 100%; height: auto; }
.img-left { display: block; float: left; margin: 1em; max-width: 100%; height: auto; }
.navbutton { margin-left: 5em; }
.block-center { display: block; margin: auto; width: 40em; }
.block-center div:first-child > a { position: relative; right: -.7em; }
.block-center#lcd div:first-child > a { position: relative; right: -3.9em; }
.block-center#art div:first-child > a { position: relative; right: -2.3em; }
.bg-colored { padding: 2em; overflow: auto; background-color: #252525; }
.bg-colored:nth-child(2n) { background-color: #333; }

#gamespage { width: 100%; }
#artpage { width: 100%; }

.ui-page { background: url("../images/bg_main.jpg") #00004D 0 10em no-repeat; background-size: contain; }
.ui-page#landing { background-image: none; }
.ui-panel-page-container-themed .ui-page-active { background: url("../images/bg_main.jpg") #00004D 0 10em no-repeat; background-size: contain; }
.ui-header .ui-title { font-size: 1.5rem; }
h2 { text-align: center; }
b { color: gray; }
a { text-decoration: none; }

.buttons { display: none; position: relative; z-index: 1;}

@media all and (max-width: 640px) {
    #icon-container {
        position: fixed;
        top: 15%;
        left: 6%;
        margin: auto;
        max-width: 90%;
        height: auto;
        z-index: 1;
    }
    .img-landing { top: 30% }
    .img-landing#img-arttitle {
        top: 25%;
        left: 0;
    }
    #img-logo { min-width: 12em; margin-right: -28%; margin-top: 3em; }
    #img-games { margin-left: 18%; }
    #img-webapps { margin-left: 15%; }
    .img-right { max-width: 85%; height: auto; }
    .img-left { max-width: 85%; height: auto; }
    .bg-colored { padding: .5em; }
    .block-center div:first-child > a { right: 0; }
    .block-center#lcd div:first-child > a { right: 0; }
    .block-center#art div:first-child > a { right: 0; }
}

@media all and (min-width: 641px) and (max-width: 1024px) {
    .img-landing#img-arttitle {
        left: 0;
    }
    #icon-container {
        top: 9%;
        left: 17%;
    }
}